body {
  font-family: "Montserrat";
  text-align: center;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Header Section */

.big-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.section-heading {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

#title {
  text-align: left;
}

.container-fluid {
  padding: 3% 10% 9%;
}

/* Navbar section */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

.download-button {
  margin: 5% 3% 5% 0;
}

.image-iphone {
  width: 60%;
  transform: rotate(20deg);
  position: absolute;
  right: 30%;
}

/* Features section */

#features {
  padding: 4% 15%;
  position: relative;
}

p {
  color: #8f8f8f;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.feature-box {
  padding: 5%;
}

.feature-icon {
  font-size: 4rem;
}

/* Testimonial Section */

.testimonials-text {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.5;
}

.testimonials-img {
  width: 10%;
  border-radius: 100%;
  margin: 1rem;
}

#press {
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 15px;
}

.carousel-item {
  padding: 8% 7%;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.pricing-coloumn {
  padding: 3% 2%;
}

.pricing-text {
  font-weight: 700;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Call to action section */

#cta {
  padding: 6% 8%;
}

/* Footer section */

#footer {
  color: gray;
  padding: 5% 15%;
}

.footer-logo {
  margin: 15px 10px;
}
